{% extends 'base.html.twig' %}

{% block body %}
    <container class="session">
        <div class="justify-content-md-center" style="padding: 70px 0;">
            <div class="col-xs-12 col-md-9 mx-auto">
                <div class="text-center">
                    <h2>Achat confirmé</h2>
                </div>
            </div>
        </div>
    </container>
{% endblock %}
