{% extends 'base.html.twig' %}

{% block body %}
    <div class="session-payment">
        <div class="session-payment-div">
                <img src="{{ asset('build/images/success.webp') }}" width="150" height="auto" class="d-inline-block align-top" alt="image erreur achat session">
                <h4>Achat Confirmé</h4>
            </div>
        </div>
    </div>
{% endblock %}
