<a  href="#" id="btn-top" title="Aller en haut !"><i class="fa fa-arrow-up"></i></a>
<footer class="text-center text-white" style="background-color: rgba(32, 30, 31, 0.9);">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    	<img src="{{ asset('build/images/AHAG.webp') }}" width="175" height="auto" class="d-inline-block align-top" alt="image du site">
    <section class="mb-4">

      <!-- Facebook -->
      <a
        class="btn btn-link btn-floating btn-lg text-white m-1 icon-footer"
        href="https://www.facebook.com/OTRaGame"
        target="_blank"
        role="button"
        data-mdb-ripple-color="white"
        >
        <i class="fa fa-facebook-f"></i>
      </a>


      <!-- Instagram -->
      <a
        class="btn btn-link btn-floating btn-lg text-white m-1 icon-footer"
        href="https://www.instagram.com/otragame/"
        target="_blank"
        role="button"
        data-mdb-ripple-color="white"
        >
        <i class="fa fa-instagram"></i>
      </a>

      <!-- Youtube -->
      <a
        class="btn btn-link btn-floating btn-lg text-white m-1 icon-footer"
        href="https://www.youtube.com/channel/UCJeonm8g5Ms75PpBPPpZJLw"
        target="_blank"
        role="button"
        data-mdb-ripple-color="white"
        >
        <i class="fa fa-youtube"></i>
      </a>

       <!-- Email -->
      <a
        class="btn btn-link btn-floating btn-lg text-white m-1 icon-footer"
        href="mailto:organisation@ontheroadagame.fr"
        role="button"
        data-mdb-ripple-color="white"
        >
        <i class="fa fa-envelope"></i>
      </a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="p-3 copyright" style="background-color: rgba(32, 30, 31, 1);">
    <section class="mb-2">
      <i class="fa fa-cc-visa"></i>
      <i class="fa fa-cc-stripe"></i>
      <i class="fa fa-cc-mastercard"></i>           
    </section>
    Copyright 2021 © AHAG | Tous droits réservés
  </div>
  <!-- Copyright -->
</footer>
{% block javascripts %}
  {{ encore_entry_script_tags('footer') }}
{% endblock %}
