{% extends 'base.html.twig' %}

{% block body %}
    <div class="check-mail">
        <div class="check-mail-div">
            <div class="check-mail-img">
                	<img src="{{ asset('build/images/forgotPassword.webp') }}" width="125" height="auto" class="d-inline-block align-top" alt="image mot de passe oublié">
            </div>
            <div class="check-mail-sentence">
                <p>Un email vient de vous être envoyé contenant un lien pour reinitialiser votre mot de passe.Ce lien expire dans 
                    {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.                 
                </p>
                <p>Si vous n'avez pas reçu d'email, veuillez regarder dans vos spams ou 
                    <a href="{{ path('app_forgot_password_request') }}" class="link-orange">
                        veuillez réassayer
                    </a>
                    .
                </p>
            </div>
        </div>
    </div>
{% endblock %}