{% extends 'base.html.twig' %}

{% block body %}
    <div class="forgot-password">
        <div class="forgot-password-div">
            {% for flashError in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">
                    {{ flashError }}
                </div>
            {% endfor %}
            <div class="forgot-password-title">
                <h2>
                    <b>
                        Mot de passe oublié ?
                    </b>
                </h2>
            </div>
            <div class="forgot-password-sentence">
                <small>
                    Entrez votre adresse email et nous vous enverrons un lien afin de le réinitialiser.
                </small>
            </div>
            {{ form_start(requestForm) }}
                {{ form_row(requestForm.email, { 'label' : ''}) }}
                <div class="forgot-password-btn">
                    <button class="btn-orange">
                        <i class="fa fa-paper-plane"></i>
                        Envoyer l'email
                    </button>
                </div>
            {{ form_end(requestForm) }}
        </div>
    </div>
{% endblock %}
