{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="reset-password">
        <div class="reset-password-div">
                <div class="title">
                    <h2>Reinitialisation du mot de passe</h2>
                </div>
                {{ form_start(resetForm) }}
                    <div>
                        {{ form_row(resetForm.password.first, { 'label' : 'Mot de passe' }) }}
                    </div>
                    <div>
                        {{ form_row(resetForm.password.second, { 'label' : 'Répétez votre Mot de passe' }) }}
                    </div>
                    <div class="reset-password-btn">
                        <button class="btn-orange">Reinitialiser</button>
                    </div>
                {{ form_end(resetForm) }}
            </div>
        </div>
    </div>

{% endblock %}
