{% extends 'base.html.twig' %}

{% block body %}
    <div class="main-banner">
		<img src="{{ asset('build/images/AHAG-Banner.webp') }}" width="100" height="auto" alt="image du site">
	</div>
    <p class="accroche">
	    <b>Découvrez comment ce déroule une session</b>
	</p>
	<div class="play">
		<div class="play-div">
			<div class="text-div">
				<h2>
					<b>Règles</b>
				</h2>
				<div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu ultricies lectus. Proin sagittis leo porta pharetra congue. Vestibulum pulvinar consequat turpis, ut auctor ligula fringilla sed. Nullam vitae leo dapibus, convallis dolor eu, pretium neque. Praesent velit nunc, venenatis eget nisi lacinia, finibus tincidunt libero. Quisque sed ex ipsum. Sed ante tortor, auctor vitae odio nec, feugiat elementum ante. Proin non pellentesque justo, at auctor libero. Donec mi turpis, varius quis nisi vel, posuere ultricies sapien. Morbi eget egestas arcu, sed cursus enim. Curabitur a mollis sapien. Nullam fermentum mollis facilisis. Nam tristique libero elit, in porta leo vulputate ac. Curabitur et rhoncus sapien, a pharetra ex. Nam aliquet nec purus sed aliquam. Nullam sollicitudin lorem nec ultrices malesuada.</p>
				</div>
			</div>
            <div class="text-div">
                <h2><b>Principes</b></h2>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu ultricies lectus. Proin sagittis leo porta pharetra congue. Vestibulum pulvinar consequat turpis, ut auctor ligula fringilla sed. Nullam vitae leo dapibus, convallis dolor eu, pretium neque. Praesent velit nunc, venenatis eget nisi lacinia, finibus tincidunt libero. Quisque sed ex ipsum. Sed ante tortor, auctor vitae odio nec, feugiat elementum ante. Proin non pellentesque justo, at auctor libero. Donec mi turpis, varius quis nisi vel, posuere ultricies sapien. Morbi eget egestas arcu, sed cursus enim. Curabitur a mollis sapien. Nullam fermentum mollis facilisis. Nam tristique libero elit, in porta leo vulputate ac. Curabitur et rhoncus sapien, a pharetra ex. Nam aliquet nec purus sed aliquam. Nullam sollicitudin lorem nec ultrices malesuada.</p>
                </div>
            </div>
            <div class="text-div">
				<h2>
					<b>Déroulement</b>
				</h2>
				<div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu ultricies lectus. Proin sagittis leo porta pharetra congue. Vestibulum pulvinar consequat turpis, ut auctor ligula fringilla sed. Nullam vitae leo dapibus, convallis dolor eu, pretium neque. Praesent velit nunc, venenatis eget nisi lacinia, finibus tincidunt libero. Quisque sed ex ipsum. Sed ante tortor, auctor vitae odio nec, feugiat elementum ante. Proin non pellentesque justo, at auctor libero. Donec mi turpis, varius quis nisi vel, posuere ultricies sapien. Morbi eget egestas arcu, sed cursus enim. Curabitur a mollis sapien. Nullam fermentum mollis facilisis. Nam tristique libero elit, in porta leo vulputate ac. Curabitur et rhoncus sapien, a pharetra ex. Nam aliquet nec purus sed aliquam. Nullam sollicitudin lorem nec ultrices malesuada.</p>
				</div>
			</div>
		</div>
		{% if sessions is empty %}
			<div class="play-btn">
				<button class="btn-black">Pas de session</button>
			</div>
		{% else %}
			{% for session in sessions|slice(0,1) %}
					<div class="play-btn">
						<a class="btn-orange" href="{{ path('play_show', {'slug':session.slug} )  }}">Session</a>
					</div>
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}
