/* GLOBAL */

@import url('https://fonts.googleapis.com/css?family=Roboto');

html,body {
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
}
.row {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
/*TEXT */
p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: justify;
}
@media screen and (max-width: 1040px) {
    P{
        font-size: 14px;
    }
}
p.accroche {
    padding: 0 20px;
    margin-top: 50px;
    margin-bottom: 0px;
    text-align: center;
    vertical-align: bottom;
}
/* END TEXT */

/* FORM  */
.form-control {
    border: 1px solid black;
}
.form-control:focus {
    border: 1px solid black;
    box-shadow: 3px 3Px 1px black;
}
/* END FORM */

.title {
    text-align: center;
    margin-bottom: 30px;
}

/* BUTTONS */
.btn-orange {
    background-color: #e77a34;
    border: none;
    color: #323031;
    padding: 7px 14px;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    text-decoration: none !important;
}
.btn-orange:hover {
    color: white;
}

.btn-black {
    background-color: #171717e4;
    border: none;
    color: #fff;
    padding: 7px 14px;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none !important;
}
.btn-black:hover {
    color: white;
}

@media screen and (max-width: 800px) {
    .btn-orange {
        padding: 5px 12px;
        font-size: 14px;
    }
    .btn-black {
        padding: 5px 12px;
        font-size: 14px;
    }
}
/* END BUTTONS */

/* END GLOBAL */

/* NAVBAR */

.navbar {
    background-color: #e77a34;
    padding: 0;
}
.header-navbar li{
    padding: 20px 10px;
}
.header-navbar a{
    color: black;
}
.header-navbar a:hover{
    color: white;
}

.dropdown-toggle {
    cursor: pointer;
}
.dropdown-menu a:hover {
    background-color: #e77a34;
}
.dropdown-item:active {
    background-color: #e77a34;
}

@media screen and (max-width: 450px) {
    .navbar {
        height: auto;
    }
}
/* END NAVBAR */


/* FOOTER */
.copyright i{
    font-size: 30px;
} 
.copyright i:hover{
    opacity: 0.8;
} 

#btn-top{
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #e77a34; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 6px; /* Some padding */
    border-radius: 25%; /* Rounded corners */
    font-size: 14px; /* Increase font size */
}
#btn-top:hover {
    background-color: white;
    color: #e77a34;
}
/* END FOOTER */


/* LOGIN & REGISTER */
.login {
    width: 100%;
    height: 100%;
    display: inline-flex;
}
.side-img{
    width: 50%;
}
.side-img img{
    width: 100%;
    height: 100%;
}
.login-div {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form {
    width: 350px;
    padding: 0;
    margin: 0;
}
.login-href{
    padding-top: 20px;
}
.login-href p{
    text-align: center;
}
.login-href a {
    padding: 5px;
    text-decoration: none;
    color: #e77a34;
}

@media screen and (max-width: 800px) {
    .side-img{
        display: none;
    }
    .login {
        padding: 20px 10px;
    }
    .login-div {
        width: 100%;
    }
}


.register {
    width: 100%;
    display: inline-flex;
}
.register-div {
    width: 50%;
    height: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto;
}
.register-form {
    width: 460px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.register-form form{
    padding: 20px 10px;
}
@media screen and (max-width: 800px) {
    .side-img{
        display: none;
    }
    .register {
        height: 100%;
        width: 100%;
    }
    .register-div {
        width: 100%;
        display: block;
        height: 100%;
    }
    .register .form-group  {
        margin-bottom: 5px;
    }
}
@media screen and (max-width: 600px) {
    .register-div {
        justify-content:unset;
        align-items: unset;
    }
}
/* END LOGIN & REGISTER */


/* FORGOT PASSWORD*/
.forgot-password {
    min-height: 67.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
}
.forgot-password-title {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid black;
}
.forgot-password-sentence {
    padding: 20px 0;
}
.forgot-password-btn {
    text-align: center;
}

/*CHECK MAIL */
.check-mail {
    min-height: 67.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
}
.check-mail-img {
    text-align: center;
    padding: 20px 0;
}
.check-mail-img img{
    width: 170Px;
    height: auto;
}
.check-mail-sentence p{
    text-align: center;
}
.check-mail-sentence a{
    text-decoration: none;
    color: #e77a34;
}
/*END CHECK MAIL */

/* RESET PASSWORD */
.reset-password {
    min-height: 67.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
}
.reset-password-btn {
    text-align: center;
}
/* END RESET PASSWORD*/


/* END FORGOT PASSWORD*/


/* HOME */
div.main-banner {
    width: 100%;
    max-height: auto;
}
div.main-banner img{
    width:100%;
    height:100%;
    object-fit: fill;
}
.home {
    padding: 50px 180px;
    display: flex;
}
.home-text {
    width: 70%;
    padding-right: 30px;
}
.home-scoreboard {
    width: 30%;
}

@media screen and (max-width: 1240px) {
    .home {
        padding: 50px 70px;
        display: block;
        justify-content: center;
    }
    .home-text {
        width: 100%;
        padding-right: 0px;
    }
    .home-scoreboard {
        width: 100%;
    }
}
@media screen and (max-width: 800px) {
    .home {
        padding: 50px 20px;
    }

}
/* END HOME */


/* ARTICLES */
.articles {
    padding: 20px 10px;
}
.search-filter{
    margin-bottom: 50px;
    display: flex;
}
.form-filter {
    padding: 0;
    margin: 0;
}
.article {
    padding-bottom: 20px;
}
.article-img {
    width: 100%;
    padding: 0;
}
.article-img img{
    max-height: auto;
    width: 100%;
    max-width: 100%;
    object-fit:cover;
}
.article-content {
    text-align: center;
    margin: auto auto;
    padding: 15px 15px;
}
.article-content p{
    text-align: center;

}
.article-footer {
    display: flex;
    justify-content: space-around;
}

.article-read{
    color: black;
    margin: auto auto;
}
.article-read:hover {
    color: black;
    text-decoration: none;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination > li > a
{
    background-color: white;
    color: black;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #e77a34;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > span
{
    color: white;
    background-color: #e77a34 !important;
    border: solid 1px #e77a34 !important;
}

.pagination > .active > span:hover
{
    background-color: #e77a34;
    border: solid 1px #e77a34;
}
/* END ARTICLES */

/* SHOW ARTICLE */
.article-show {
    padding: 70px 0;
}
.article-show-div{
    -webkit-box-shadow: 0px 0px 25px 9px rgba(0,0,0,0.39); 
    box-shadow: 0px 0px 25px 9px rgba(0,0,0,0.39);
    width: 100%;
    padding: 50px 0;
}
.article-show-content {
    text-align: center;
    padding: 0;
}
.article-show-title {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    word-wrap: break-word;
    padding: 0 20px;
}  
.article-show-img{
    margin-bottom: 50px;
    height: 350px;
    width: 100%;
}
.article-show-img img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.article-show-description  {
    margin-bottom: 50px;
    padding: 0 20px;
}
.article-show-content  p{
    text-align: center;
    word-wrap: break-word;
}
.article-show-details {
    padding: 0 20px;
    text-align: center;
}

.commentaires {
    margin-top: 50px;
    padding: 0 20px;
}
.comment{
    margin-bottom: 20px;
}
.comment-show {
    word-break: break-all;
}

@media screen and (max-width: 840px) {
    .article-show {
        padding: 0 0;
    }
}
/* END ARTICLE */


/* PLAY */
.play {
    padding: 50px 500px;
}
.play-div {
    width: 100%;
}
.play-btn {
    text-align: center;
}
@media screen and (max-width: 1600px) {
    .play {
        padding: 50px 70px;
    }
}
@media screen and (max-width: 1240px) {
    .play {
        padding: 50px 70px;
    }
}
@media screen and (max-width: 800px) {
    .play {
        padding: 50px 20px;
    }
}

/* SHOW SESSION */
.session-show {
    padding: 200px 0;
}
.session-show-div{
    -webkit-box-shadow: 0px 0px 25px 9px rgba(0,0,0,0.39); 
    box-shadow: 0px 0px 25px 9px rgba(0,0,0,0.39);
    width: 100%;
    padding: 0;
}
.session-show-content {
    text-align: center;
    padding: 50px 0px;
}
.session-show-content p {
    text-align: center;
    word-wrap: break-word;
}
.session-show-title {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}  
.session-show-img{
    width:100%;
    padding: 0;
}
.session-show-img img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.session-show-description  {
    margin-bottom: 50px;
    padding: 0 70px;
}
.session-show-description {
    margin: auto auto;
}
.session-show-details{
    text-align: center;
    margin-bottom: 50px;
}

@media screen and (max-width: 640px) {
    .session-show {
        padding: 0 0;
    }
    .session-show-img{
        height: 300px;
    }
    .session-show-description  {
        padding: 0 20px;
    }
}



/* END SHOW SESSION */


/* SESSION PAYMENT */
.session-payment {
    padding: 300px 10px;
}
.session-payment-div {
    text-align: center;
}
.session-payment-div img {
    margin-bottom: 15px;
}
@media screen and (max-width: 800px) {
    .session-payment {
        padding: 150px 10px;
    }
    .session-payment-div img {
        width: 100px;
    }
}
/* END SESSION PAYMENT */

/* END PLAY */


/* MANAGE ACCOUNT */
.profile-navbar {
    background-color: blanchedalmond;
    height: 100%;
}
.profile-navbar a{
    padding: 60px;
    color: black;
    justify-content: space-around;
}
.profile-navbar-links {
    width: 100%;
    text-align: center;
}
.return-arrow {
    color: black;
    font-size: 22px;
    vertical-align: middle;
}
@media screen and (max-width: 840px) {
    .profile-navbar a{
        padding: 20px 0;
        color: black;
        justify-content: space-around;
    }
}
/* END MANAGE ACCOUNT */

/* PROFILE USER*/
.profile-user {
    border: 1px solid rgba(0, 0, 0, 0.125);
    text-align: center;
    padding: 25px;
}
.profile-user-card img{
    border-radius: 25px;
    margin-bottom: 10px;
}
.informations-user {
    border: 1px solid rgba(0, 0, 0, 0.125);
    text-align: center;
    padding: 25px;
}
.profile-user-informations-btn {
    margin-left: 20px;
}
.profile-user-card-footer {
    text-align: center;
    bottom: 0 !important;
}
.profile-user-card-footer form {
    padding-top: 20Px;
}
.profile-user-card-footer p{
    text-align: center;
    padding: 10px; 
    margin: 0;   
}
.profile-user-card-image {
    display: flex;
    justify-content: space-between;
}

.profile-content {
    padding: 110px 0;
}
@media screen and (min-width: 1340px) {
    .profile-content {
        padding: 200px 0;
    }
}
@media screen and (max-width: 840px) {
    .profile-content {
        padding: 70px 0;
    }
    .profile-user {
        margin-bottom: 30px;
    }
}

/* EDIT PROFIL */
.edit-profile-title {
    text-align: center;
    margin-bottom: 30px;
}
.edit-profile-btn {
    text-align: center;
}
/* END EDIT PROFIL */

/* END PROFILE */


/* GROUP PROFILE */
.profile-group {
    text-align: center;
}
.profile-group-div{
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 50px;
    justify-content: center;
}
.profile-group-btn{
    margin-top: 50px;
    text-align: center;
    display: block;
}
.profile-group-btn p{
    margin: 0;
    text-align: center;
}
.profile-group-btn a{
    padding: 10px;
}
/*END PROFILE */

/* CREATE GROUP */

.profile-group-create h3{
    text-align: center;
}
.profile-group-create-div{
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 50px;
}
.profile-group-create-form {
    margin-top: 50px;
}
.profile-group-create-btn{
    margin-top: 50px;
    text-align: center;
    display: block;
}
/* END CREATE GROUP */



/* END GROUP PROFILE */



/* SESSION & CHALLENGES PROFILE */
.profile-session {
    text-align: center;
}
.profile-session-div{
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    padding: 30px 10px;
    justify-content: center;
}
.profile-session-div h3 {
    margin-bottom: 30px;
}
.card-session-challenge {
    margin: 10px;
    padding: 0;
}
.card-session-challenge img {
    max-height: auto;
    width: 100%;
    max-width: auto;
    object-fit:cover;
}
.card-session-challenge-body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    word-break: break-all;
}

/* SHOW CHALLENGE */
.challenge-show {
    padding: 70px 0;
}
.challenge-show-div{
    -webkit-box-shadow: 0px 0px 25px 9px rgba(0,0,0,0.39); 
    box-shadow: 0px 0px 25px 9px rgba(0,0,0,0.39);
    width: 100%;
    padding-bottom: 50px;
    padding-left:  0;
    padding-right: 0;
}
.challenge-show-return {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.challenge-show-content {
    text-align: center;
    padding: 0;
}
.challenge-show-title {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    word-wrap: break-word;
    padding: 0 20px;
} 
.challenge-show-img{
    margin-bottom: 50px;
    height: 300px;
    width: 100%;
}
.challenge-show-img img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.challenge-show-description  {
    margin-bottom: 50px;
    padding: 0 20px;
}
.challenge-show-content  p{
    text-align: center;
    word-wrap: break-word;
}
.challenge-show-details{
    padding: 0 20px;
    text-align: center;
    margin-bottom: 50px;
}
@media screen and (max-width: 840px) {
    .challenge-show {
        padding: 0 0;
    }
}
/* END SHOW CHALLENGE */

/* VALID CHALLENGE */
.challenge-validation {
    padding: 200px 0;
}
.challenge-validation-div{
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 50px;
}
.challenge-validation-div h6{
    text-align: center;
    margin-bottom: 30Px;
}
.challenge-validation-btn{
    margin-top: 50px;
    text-align: center;
    display: block;
}

@media screen and (max-width: 840px) {
    .challenge-validation {
        padding: 70px 0;
    }
    
}
/* END VALID CHALLENGE */

/* END SESSION PROFILE */