<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>At Home A Game</title>
        <base href="/">
        {# <meta name="viewport" content="width=device-width, initial-scale=1" /> #}
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="description" content="Projet UF, At Home A Game, réalisé en B2 informatique avec le framework Symfony" />
        <meta name="author" content="Etudiants">
        <meta name="Keywords" content="etudiant, projet uf, On The Road A Game, Referencement web, Ynov , Developpeur web, Ynov, Aix en provence, Développeur WEB, Mobile, Android, IOS,  défis, voyage, Symfony, Material Design" />
        <meta name="Robots" content="all">  
        <link rel="icon" href="{{ asset('build/images/favicon.ico') }}" />
        <link rel="apple-touch-icon" href="{{ asset('build/images/AHAG-icon.png') }}" />
            
        <script src="https://js.stripe.com/v3/"></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>
        <noscript>Javascript est désactivé ou bien n'est pas supporté par votre navigateur!</noscript>
        {% include 'base/navbar.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'base/footer.html.twig' %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
