{% extends 'user.html.twig' %}



{% block body %}
    <div class="row justify-content-md-center" style="padding: 70px 0;">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="col-md-7 col-xs-12">
              <p><b>Espace Groupe</b></p>
            <div class="card-group">
                <div class="profile-group">
                    <h3>Vous faites désormais partie de la session actuelle</h3>
                    <div class="button-group">
                        <a class="btn btn-dark" href="{{ path('app_create_group') }}">Créer un groupe</a>
                        <p class="text-center">ou</p>
                        <a class="btn btn-dark" href="{{ path('app_create_group') }}">Rejoindre un groupe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}