{% extends 'user.html.twig' %}



{% block body %}
    <div class="profile-group">
        <div class="col-md-6 col-xs-12 mx-auto">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <p><b>Espace Groupe</b></p>
            <div class="profile-group-div">
                <h3>Vous faites désormais partie de la session actuelle, rejoingnez l'aventure !</h3>
                <div class="profile-group-btn">
                    <a class="btn-black" href="{{ path('app_create_group') }}">Créer un groupe</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}