{% extends "base.html.twig" %}


{% block title %} Error 404 {% endblock %}


{% block body %}
    <div class="error-page-div">
        <div class="error-page-content">
            <h1>404</h1>
            <p>Page non trouvée</p>
            <p>La page que vous cherchez n'a pas été trouvée</p>
        </div>
    </div>
{% endblock %}
