{% extends "base.html.twig" %}


{% block title %} Error 500 {% endblock %}


{% block body %}
    <div class="error-page-div">
        <div class="error-page-content">
            <h1>500</h1>
            <p>Une erreur serveur est survenue</p>
        </div>
    </div>
{% endblock %}
