{% extends "base.html.twig" %}


{% block title %} Error 403 {% endblock %}


{% block body %}
    <div class="error-page-div">
        <div class="error-page-content">
            <h1>403</h1>
            <p>Accès refusé</p>
            <p>Vous n'avez pas la permission de voir ce tte page</p>
        </div>
    </div>
{% endblock %}
